{% extends "base.html" %}

{% block content %}

 <div class="contents">
         <table class="table table-striped table-bordered">
            <thead>
               <tr>
                  <th scope="col">Aufgabe</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">Progress</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
               </tr>
            </thead>
            <tbody>
               {% for todo in todo_list %}

               <tr>
                  <td>{{ todo.name }}</td>
                  <td>{{ todo.deadline }}</td>
                  <td>{{ todo.progress }} % </td>
                  <td>
                        <center><button type="button" class="btn btn-outline-secondary">Bearbeiten</button></center>
                     </a>
                  </td>
                  <td>
                     <center><a role="button" class="btn btn-outline-danger " href="{% url 'delete' todo.id %}">Löschen</a></center>

                  </td>
               </tr>
               
               {% endfor %}
            </tbody>
         </table>
      </div>



{% endblock %}