{% extends "base.html" %}

{% block content %}

<div class="contents">
   <div class="table-responsive">
      <table class="table table-striped table-bordered">
         
         <thead>
            <tr>
               <th scope="col">Aufgabe</th>
               <th scope="col">Deadline</th>
               <th scope="col">Progress</th>
               <th scope="col"></th>
               <th scope="col"></th>
            </tr>
         </thead>

         <tbody>
            {% for todo in todo_list %}
            <tr>
               <td>{{ todo.name }}</td>
               <td>{{ todo.deadline }}</td>
               <td>{{ todo.progress }} % </td>
               <td>
                  <center><a role="button" class="btn btn-outline-secondary" href="{% url 'page_edit_task' todo.pk %}">Bearbeiten</a></center>
               </td>
               <td>
                  <center><a role="button" onclick="return confirm('Are you sure you want to delete this?')" class="btn btn-outline-danger " href="{% url 'delete' todo.pk %}">Löschen</a></center>
               </td>
            </tr>
            {% endfor %}

         </tbody>
      </table>
   </div>
</div>

{% endblock %}
