{% extends "base.html" %}
{% block content %}

<center>
   <div class="contents">
      <div class="row justify-content-md-center">
         
         <div class="col">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Vesela Stefanova</h5>
                  <p class="card-text">Informatik BSc, Technische Universität Berlin</p>
               </div>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item">Co-Creator</li>
               </ul>
               <div class="card-body">
                  <a href="https://github.com/vesela-stefanova" class="card-link" style="color:rgb(20,20,20)">Guthub Account</a>
                  <a href="https://github.com/int3grat0r/Skalierbare-Systeme" class="card-link" style="color:rgb(20,20,20)">Project Repository</a>
               </div>
            </div>
         </div>

         <div class="col">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Nedyalko Stanchev</h5>
                  <p class="card-text">Informatik BSc, Technische Universität  Berlin</p>
               </div>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item">Co-Creator</li>
               </ul>
               <div class="card-body">
                  <a href="https://github.com/int3grat0r" class="card-link" style="color:rgb(20,20,20)">Guthub Account</a>
                  <a href="https://github.com/int3grat0r/Skalierbare-Systeme" class="card-link" style="color:rgb(20,20,20)">Project Repository</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</center>

{% endblock %}